root = true

# Aplica a todos os ficheiros
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Regras específicas para ficheiros Kotlin
[*.{kt,kts}]
max_line_length = 120
ij_kotlin_imports_layout = *