<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="digital.tonima.kairos">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".wear.KairosWearApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <uses-library
            android:name="wear-sdk"
            android:required="false" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <receiver
            android:name="digital.tonima.core.service.AlarmReceiver"
            android:exported="false" />

        <receiver
            android:name=".wear.service.WearAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="digital.tonima.core.ALARM_TRIGGERED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".wear.service.WearAlarmActionReceiver" android:exported="false" />

        <service android:name="digital.tonima.core.service.AlarmSoundService" />

        <activity
            android:name=".wear.presentation.MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Kairos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

</manifest>
